/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
  }

/* head */

.navbar {
    height: 160px;
    background-color: #ffb6c1;
}

.navbar_logo {
    margin-top: 4px;
    float:left;
}
.logo {
    width: 160px;
    height: 150px;
    margin-left: 10px;
}
.cover_logo {
    display: inline-block;
}

.navbar_list {
    list-style: none;
    display: inline-block;
    font-family: Comic Sans, Comic Sans MS, cursive;
}


.navbar_item {
    display: inline-block;
    font-size: 24px;
    text-transform: uppercase;
    margin-left: 32px;
    padding: 0 16px;
    color:#fff;
    font-weight: bold;
    margin-top: 55px;
    line-height: 52px;
}

.navbar_item:hover {
    border-bottom: 4px solid #000;
}

.navbar_text {
    float: left;
}

.navbar_icon {
    float: right;
    line-height: 170px;
}

.navbar_icon > a {
    text-decoration: none;
}

.ti-search,
.ti-facebook,
.ti-instagram,
.ti-twitter {
    padding: 0 8px 18px 8px;
    margin: 0 18px;
    font-size: 24px;
    color: #fff;
    
}

.icon:hover {
    border-bottom: 5px solid #000;
}



/* -----------------------Cart-----------------*/
.cartlist {
    width: 50%;
    margin: left;
    text-align: center;
    padding-top: 30px;
}
.cartlist h2{
  
  text-align: center;
  padding: 15px 20px;
  color: pink;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  border-style: solid;
  border-color: pink;
  border-radius: 10px;
  width: 50%;
  margin: 12px 0 0 30px;
}

.cartlist table{
    width: 100%;
}
.cartlist table thead tr th:first-child{
    text-align: left;
}
.cartlist table tr td{
    border: 1px solid black;
    padding: 12px 0;
}

.totalcart{
    width: 50%;
    margin: left;
    text-align: left;
    padding-top: 30px;
}
.totalcart h2{
    text-align: center;
    padding: 15px 20px;
    color: pink;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-style: solid;
    border-color: pink;
    border-radius: 10px;
    width: 50%;
    margin: 12px 0 0 30px;
  }

