/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
  }

/* head */

.navbar {
    height: 160px;
    background-color: #ffb6c1;
}

.navbar_logo {
    margin-top: 4px;
    float:left;
}
.logo {
    width: 160px;
    height: 150px;
    margin-left: 10px;
}
.cover_logo {
    display: inline-block;
}

.navbar_list {
    list-style: none;
    display: inline-block;
}


.navbar_item {
    display: inline-block;
    font-size: 24px;
    text-transform: uppercase;
    margin-left: 32px;
    padding: 0 16px;
    color:#fff;
    font-weight: bold;
    margin-top: 55px;
    line-height: 52px;
}

.navbar_item:hover {
    border-bottom: 4px solid #000;
}

.navbar_text {
    float: left;
}

.navbar_icon {
    float: right;
    line-height: 170px;
}

.navbar_icon > a {
    text-decoration: none;
}

.ti-search,
.ti-facebook,
.ti-instagram,
.ti-twitter {
    padding: 0 8px 18px 8px;
    margin: 0 18px;
    font-size: 24px;
    color: #fff;
    
}

.icon:hover {
    border-bottom: 5px solid #000;
}

/* content */

.content_text {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin-top: 36px;
}

/* footer */

.head_text {
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 16px;
    color: #fff;
}

.text {
    font-size: 18px;
    text-align: center;
    margin-top: 12px;
    color: #fff;
}

.form_field {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.cover_head_all {
    display: flex;
    margin-top: 365px;
    background-color: #ffb6c1;
}

.cover_head {
    width: 100%;
    border-bottom: #fff 4px solid;
    padding-bottom: 30px;
    float: center;
    margin: auto;
}

.form_email,
.form_name {
    padding: 8px;
    border: 1px solid;
    border-radius: 6px;
    width: 250px;
}

.cover_foot {
    margin-top: 0px;
    background-color: #ffb6c1;
}

.foot_content {
    padding-top: 12px;
    display: flex;
    justify-content: space-around;
}

.col_1,
.col_2,
.col_3 {
    list-style: none;
    color: #fff;
}


.list_text_1,
.list_text_2,
.list_text_3 {
    text-align: center;
    margin-top: 6px;
}

.list_text {
    margin-top: 6px;
    text-align: center;
}

.col_1 > li,
.col_2 > li,
.col_3 > li {
    font-weight: bold;
}

.text_end {
    margin-top: 32px;
    text-align: center;
    color: #fff;
    padding-bottom: 28px;
}