{% extends "cart/basecart.html" %}{% load static %}{% block content %}
<link rel="stylesheet" href=" {% static 'css/cart.css' %} " />
<link rel="stylesheet" href=" {% static 'font/themify-icons-font/themify-icons/themify-icons.css' %} " />
<script src="{% static 'js/cart.js' %}"></script>

{% comment %} header {% endcomment %}
<div class="navbar">
  <div class="navbar_logo">
    <a href="http://localhost:8000/" class="cover_logo"><img src=" {% static 'img/King_Of_Cake_3.png' %} " alt="logo" class="logo"
    /></a>
  </div>
  <div class="navbar_text">
    <ul class="navbar_list">
      <a href=""><li class="navbar_item">Birthday Cakes</li></a>
      <a href=""><li class="navbar_item">Desert</li></a>
      <a href=""><li class="navbar_item">Drinks</li></a>
      <a href=""><li class="navbar_item">About</li></a>
    </ul>
  </div>
  <div class="input_text">
    <i class="ti-search"></i>
    <input type="text" class="search_input" placeholder="Search product here..."/>
  </div>
  <div class="navbar_icon">
    <a href="http://localhost:8000/customer/"><i class="ti-user icon"></i></a>
    <a href="https://www.facebook.com/"><i class="ti-facebook icon"></i></a>
    <a href="https://www.instagram.com/"><i class="ti-instagram icon"></i></a>
    <a href="https://twitter.com/"><i class="ti-twitter icon"></i></a>
    <a href="http://localhost:8000/cart/"><i class="ti-shopping-cart icon"></i></a>
  </div>
  
</div>
<div class="cart1234">
  <section class="cartlist">
    <h2>Shopping Cart</h2>
    <form action="">
      <table class="table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Analyze</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="column" style="display: flex;align-items:center"><img style="width: 70px;"
                src="{% static 'img/King_Of_Cake_3.png' %}" alt="">Name Product</td>
            <td class="column">
              <p class="dollar"><span>0</span><sup>$</sup></p>
            </td>
            <td class="column"><input style="width: 30px; outline:none; border-radius: 5px;" type="number" value="1" min="1"></td>
            <td class="buttonoutline">
              <button class="button1">Delete</button></td>
          </tr>
          <tr>
            <td class="column" style="display: flex;align-items:center"><img style="width: 70px;"
                src="{% static 'img/King_Of_Cake_3.png' %}" alt="">Name Product</td>
            <td class="column">
              <p class="dollar"><span>0</span><sup>$</sup></p>
            </td>
            <td class="column"><input style="width: 30px; outline:none; border-radius: 5px;" type="number" value="1" min="1"></td>
            <td class="buttonoutline">
              <button class="button1">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </section>
  <section class="totalcart">
    <h2>Total Cart</h2>
    <div class="subtotals">
      <div class="subtotal1">
        <div class="subtotal">
          Subtotals
        </div>
      </div>
      <div class="money">
        100$
      </div>
    </div>
    <div class="totals">
      <div class="total1">
        <div class="total">
          Total
        </div>
      </div>
      <div class="money1">
        100$
      </div>
    </div>
      <button class="button">
        Proceed to checkout
      </button>
  </section>
</div>
{% comment %} footer {% endcomment %}
<div class="cover_head_all">
  <div class="cover_head">
    <div class="head">
      <div class="head_text">Sign up for our Newletters</div>
      <div class="text">
        Receive my "1000 Melt-In-Your-Mouth" Chocolate Chip Cookies Ebook &
        get my Latest Recipes!
      </div>
      <div class="form_field">
        <input type="email" class="form_email" placeholder="Email *" />
        <input type="text" class="form_name" placeholder="Name *" />
      </div>
    </div>
  </div>
</div>

<div class="cover_foot">
  <div class="foot_content">
    <div class="foot_content_1">
      <ul class="col_1">
        <li class="list_text_1">Information</li>
        <li class="list_text_1">About</li>
        <li class="list_text_1">Contact</li>
        <li class="list_text">Privacy Policy</li>
      </ul>
    </div>
    <div class="foot_content_2">
      <ul class="col_2">
        <li class="list_text_2">Contact</li>
        <li class="list_text">Gmail: kingofcake@gmail.com</li>
        <li class="list_text">Hotline: (099) 999 9999</li>
      </ul>
    </div>
    <div class="foot_content_3">
      <ul class="col_3">
        <li class="list_text_3">Follow</li>
        <li class="list_text">FACEBOOK</li>
        <li class="list_text">INSTAGRAM</li>
        <li class="list_text">TWITTER</li>
      </ul>
    </div>
  </div>
  <div class="text_end">
    COPYRIGHT @ 2022 King Of Cake - COOKIES, BROWNIE, AND CHOCOLATE OBSESSED!
  </div>






{% endblock %}
</div>