{% extends "cart/basecart.html" %}{% load static %}{% block content %}
<link rel="stylesheet" href=" {% static 'css/cart.css' %} " />
<link
  rel="stylesheet"
  href=" {% static 'font/themify-icons-font/themify-icons/themify-icons.css' %} "
/>
<script src="{% static 'js/cart.js' %}"></script>

{% comment %} header {% endcomment %}
<div class="navbar">
  <div class="navbar_logo">
    <a href="" class="cover_logo"
      ><img src=" {% static 'img/King_Of_Cake_3.png' %} " alt="" class="logo"
    /></a>
  </div>
  <div class="navbar_text">
    <ul class="navbar_list">
      <a href=""><li class="navbar_item">Birthday Cakes</li></a>
      <a href=""><li class="navbar_item">Desert</li></a>
      <a href=""><li class="navbar_item">Drinks</li></a>
      <a href=""><li class="navbar_item">About</li></a>
    </ul>
  </div>
  <div class="navbar_icon">
    <a href=""><i class="ti-search icon"></i></a>
    <a href="https://www.facebook.com/"><i class="ti-facebook icon"></i></a>
    <a href="https://www.instagram.com/"><i class="ti-instagram icon"></i></a>
    <a href="https://twitter.com/"><i class="ti-twitter icon"></i></a>
  </div>
</div>
<article>
  <div class="shopping Cart123">
    <h3>Shopping Cart </h3>
  </div>
  
  
  <div class="shopping_cart">
    <div class="shopping_cart_list">
      <img src="{% static 'img/King_Of_Cake_3.png' %}" alt="">
      <h1>Name Product</h1>
      <h1>Price</h1>
      <h1>Total Price</h1>
    </div>
    <div class="shopping_cart_list">
      <img src="{% static 'img/King_Of_Cake_3.png' %}" alt="">
      <h1>Name Product</h1>
      <h1>Price</h1>
      <h1>Total Price</h1>
    </div>
    <div class="shopping_cart_list">
      <img src="{% static 'img/King_Of_Cake_3.png' %}" alt="">
      <h1>Name Product</h1>
      <h1>Price</h1>
      <h1>Total Price</h1>
    </div>
  </div>
</article>





{% endblock %}