{% load static %}
{% block content %}






{% comment %} header {% endcomment %}
<head>
  <title>Account information</title>
  
  <link rel="stylesheet" href=" {% static 'css/customer.css' %} " />
  <link  rel="stylesheet"  href=" {% static 'font/themify-icons-font/themify-icons/themify-icons.css' %} "/>
  
</head>

{% comment %} body <script src="{% static 'js/customer.js' %}"></script>{% endcomment %}


  <header>
    <div class="navbar">
      <div class="navbar_logo">
        <a href="http://localhost:8000/" class="cover_logo"><img src=" {% static 'img/King_Of_Cake_3.png' %} " alt="" class="logo"
        /></a>
      </div>
      <div class="navbar_text">
        <ul class="navbar_list">
          <a href=""><li class="navbar_item">Birthday Cakes</li></a>
          <a href=""><li class="navbar_item">Desert</li></a>
          <a href=""><li class="navbar_item">Drinks</li></a>
          <a href=""><li class="navbar_item">About</li></a>
        </ul>
      </div>
      <div class="input_text">
        <input type="text" class="search_input" placeholder="Search in here... *" />
      </div>
      <div class="navbar_icon">
        <a href=""><i class="ti-search icon"></i></a>
        <a href="http://localhost:8000/customer/"><i class="ti-user icon"></i></a>
        <a href="https://www.facebook.com/"><i class="ti-facebook icon"></i></a>
        <a href="https://www.instagram.com/"><i class="ti-instagram icon"></i></a>
        <a href="https://twitter.com/"><i class="ti-twitter icon"></i></a>
        <a href="http://localhost:8000/cart/"><i class="ti-shopping-cart icon"></i></a>
      </div>
    </div>
  </header>
  <div class="clearfix"></div>


<body id="bg" style="background-image: linear-gradient(
  45deg,
  rgba(247, 129, 149, 0.5) 55%,
  rgba(253, 188, 191, 0.8)
), url('{% static "customerimg/MyCake_19.jpg"%}')";>
  
  <section class="main-section">
    <div class="section-left">
      <div >
        <h1  class="section-title">Profile's Picture</h1>
        <a href="https://www.facebook.com/PTB164/"><img class="section-left-profile" src="{% static 'customerimg/profile1.jpg' %}" alt=""></a>
      </div>
      <div class="clearfix"></div>
      <div class="section-left-btn">
        <a class="btn" href="#">Account settings</a>
        <a class="btn" href="#">Personal information</a>
        <a class="btn" href="#">Privacy</a>
        <a class="btn" href="#">Notifications</a>
        <a class="btn ti-shift-left" href="#"> Log-Out</a>
      </div>
    </div>
  
    <div class="section-right">
      <h1 class="section-title" >Account settings</h1>
      
      <div class="section-right-input">
        <h4 class="input-title">First Name</h4>
        <input type="text" class="customer-input" placeholder="First Name*" />
  
        <h4 class="input-title">Last Name</h4>
        <input type="text" class="customer-input" placeholder="Last Name*" />

        <h4 class="input-title">User Name</h4>
        <input type="text" class="customer-input" placeholder="User Name*" />
  
        <h4 class="input-title">Password</h4>
        <input type="text" class="customer-input" placeholder="Password*" />

        <h4 class="input-title">Phone Number</h4>
        <input type="text" class="customer-input" placeholder="Phone Number*" />
  
        <h4 class="input-title">Email</h4>
        <input type="email" class="customer-input" placeholder="Email*" />
      </div>
    </div>
  </section>


  <div class="clearfix"></div>
  <footer>
    <div class="cover_head_all">
      <div class="cover_head">
        <div class="head">
          <div class="head_text">Sign up for our Newletters</div>
          <div class="text">
            Receive my "1000 Melt-In-Your-Mouth" Chocolate Chip Cookies Ebook & get
            my Latest Recipes!
          </div>
          <div class="form_field">
            <input type="email" class="form_email" placeholder="Email *" />
            <input type="text" class="form_name" placeholder="Name *" />
          </div>
        </div>
      </div>
    </div>
    
    <div class="cover_foot">
      <div class="foot_content">
        <div class="foot_content_1">
          <ul class="col_1">
            <li class="list_text_1">Information</li>
            <li class="list_text_1">About</li>
            <li class="list_text_1">Contact</li>
            <li class="list_text">Privacy Policy</li>
          </ul>
        </div>
        <div class="foot_content_2">
          <ul class="col_2">
            <li class="list_text_2">Contact</li>
            <li class="list_text">Gmail: kingofcake@gmail.com</li>
            <li class="list_text">Hotline: (099) 999 9999</li>
          </ul>
        </div>
        <div class="foot_content_3">
          <ul class="col_3">
            <li class="list_text_3">Follow</li>
            <li class="list_text">FACEBOOK</li>
            <li class="list_text">INSTAGRAM</li>
            <li class="list_text">TWITTER</li>
          </ul>
        </div>
      </div>
      <div class="text_end">
        COPYRIGHT @ 2022 King Of Cake - COOKIES, BROWNIE, AND CHOCOLATE OBSESSED!
      </div>
    </div>
  </footer>
</body>


{% endblock %}