/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
  }

/* head */

.navbar {
    height: 160px;
    background-color: #ffb6c1;
}

.navbar_logo {
    margin-top: 4px;
    float:left;
}
.logo {
    width: 160px;
    height: 150px;
    margin-left: 10px;
}
.cover_logo {
    display: inline-block;
}

.navbar_list {
    list-style: none;
    display: inline-block;
    font-family: Comic Sans, Comic Sans MS, cursive;
}

.navbar_item {
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 32px;
    padding: 0 16px;
    color:#fff;
    font-weight: bold;
    margin-top: 55px;
    line-height: 52px;
}

.navbar_item:hover {
    border-bottom: 4px solid #000;
}

.navbar_text {
    float: left;
}

.navbar_icon {
    float: right;
    line-height: 20px;
    margin-top:  70px;

}

.navbar_icon > a {
    text-decoration: none;
}

.ti-search,
.ti-facebook,
.ti-instagram,
.ti-twitter,
.ti-shopping-cart,
.ti-user {
    padding: 0 8px 18px 8px;
    margin: 0 12px;
    font-size: 20px;
    color: #fff;
    
}

.icon:hover {
    border-bottom: 5px solid #000;
}

.search_input {
    padding: 4px;
    width: 180px;
    border-radius: 12px;
    margin-top:  70px;
}

.input_text {
    line-height: 160px;
    float: left;
    margin-left: 60px;
}

/* content */

.content_text {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin-top: 36px;
    font-family: Gabriola;
}

/* footer */

.head_text {
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 16px;
    color: #fff;
    font-family: cursive;
}

.text {
    font-size: 30px;
    text-align: center;
    margin-top: 12px;
    color: #fff;
    font-family: Gabriola;
}

.form_field {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.cover_head_all {
    display: flex;
    margin-top: 365px;
    background-color: #ffb6c1;
}

.cover_head {
    width: 100%;
    border-bottom: #fff 4px solid;
    padding-bottom: 30px;
    float: center;
    margin: auto;
}

.form_email,
.form_name {
    padding: 8px;
    border: 1px solid;
    border-radius: 6px;
    width: 250px;
}

.cover_foot {
    margin-top: 0px;
    background-color: #ffb6c1;
}

.foot_content {
    padding-top: 12px;
    display: flex;
    justify-content: space-around;
}

.col_1,
.col_2,
.col_3 {
    list-style: none;
    color: #fff;
    font-family: Gabriola;
    font-size: 20px;
}


.list_text_1,
.list_text_2,
.list_text_3 {
    text-align: center;
    margin-top: 6px;
}

.list_text {
    margin-top: 6px;
    text-align: center;
}

.col_1 > li,
.col_2 > li,
.col_3 > li {
    font-weight: bold;
}

.text_end {
    margin-top: 32px;
    text-align: center;
    color: #fff;
    padding-bottom: 28px;
}

/* CUSTOMER */
/* CUSTOMER */
/* body{
    background-image: linear-gradient(
        45deg,
        rgba(247, 129, 149, 0.5) 55%,
        rgba(253, 188, 191, 0.8)
      ),
      url('{% static "customerimg/MyCake_1.jpg"%}');
        
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 200vh;
} */
body{
    /* height: 90%; */
}
#bg{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 30vh;
}

/* left CUSTOMER */
.main-section{
    flex-direction: row;
    display: flex;
    align-content: center;
    margin-top: 15%;
}

.section-left{
    background-color: pink;
    width: 40%;
    margin-top:70px;
}
.section-right{
    float: right;
    background-color: aqua;
    width: 60%;
    margin-top:70px;
}
.section-left-profile{
    width: 50%;
    border-radius: 300px;
    margin: 15% 25%;
}

.section-left-btn{
    flex-direction: column;
    display: flex;
}
.btn {
    /* display: flex; */
    text-decoration: none;
    color: rgb(87, 63, 63);
    font-weight: 700;
    /* margin-left: 70px; */
    background-color: rgb(248, 108, 132);
    padding: 15px 30px;
    border-radius: 5px;
    /* bo tròn */
    margin: 20px 5px;
    /* khoảng cách trên dưới và ngang */
    display: inline-block;
    /* vừa dùng thuộc tính của line vừa dùng của block */
    width: 190px;
    /* chiều rộng của cái ô button */
    text-align: center;
    /* căn chữ ở giữa */
    transition: all 0.7s;
    /*  */
    margin-left: 10%;
  }
  .btn:hover,
  .btn:active {
    border-radius: 20px;
    color: rgb(255, 255, 255);
  }

.section-left-logout{
    position: relative;
}

.logout-icon{
    position: absolute;
    margin-left:16%;
    margin-top: 6.5%;


}

/* right customer */

.section-title{
    color: rgb(87, 63, 63);
    font-size: 180%;
    font-weight: 700;
    text-align: center;
    /* căn giữa */
    /* margin-bottom: 70px;
    margin-top: 70px;
    margin-left: -190px;
    position: relative; */
}

.section-right-input{
    display: flex;
    flex-direction: column;
    margin-left:15%;
}

.input-title{
    margin-top: 10%;
    margin-bottom: 2%
}

.customer-input{

}

